Checks:
  - 'clang-analyzer-*'
  - 'bugprone-*'
  - '-bugprone-easily-swappable-parameters'
  - 'cppcoreguidelines-*'
  - 'modernize-*'
  - 'performance-*'
  - 'readability-*'
  - '-readability-identifier-length'

