[submodule "src/MOM6"]
	path = src/MOM6
	url = https://github.com/TURBO-ESM/MOM6
[submodule "src/FMS"]
	path = src/FMS
	url = https://github.com/TURBO-ESM/FMS
[submodule "src/CESM_share"]
	path = src/CESM_share
	url = https://github.com/ESCOMP/CESM_share
[submodule "src/MARBL"]
	path = src/MARBL
	url = https://github.com/marbl-ecosys/MARBL
[submodule "src/amrex"]
	path = src/amrex
	url = https://github.com/AMReX-Codes/amrex.git
