# Build directory:
bin/

# experiment output files:
CPU_stats
examples/*/*.nc
examples/*/archive/
RESTART/
codecov/
available_diags.000000
exitcode
logfile.000000.out
mom6_standalone.o*
mom6_standalone.e*
ocean.stats*
ocean_solo.res
time_stamp.out

# doxygen documentation output:
src/development_tests/amrex/tripolar_grid/doc/html
src/development_tests/amrex/tripolar_grid/doc/latex

__pycache__/
*.pyc
.ipynb_checkpoints/
