name: Clang Tidy Dry Run

on:
  workflow_dispatch:
  push:
    branches:
     - clang-tidy-workflow

jobs:
  format:
    name: Run Clang-Tidy
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -elo pipefail {0}

    container:
      image: ncarcisl/hpcdev-x86_64:almalinux10-gcc12-mpich-latest

    steps:
      - name: Install Clang-Tidy
        run: sudo dnf install -y clang-tools-extra && clang-tidy --version

      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build HDF5
        run: |
          git clone -b hdf5_1.14.6 --single-branch https://github.com/HDFGroup/hdf5.git
          cmake -DHDF5_BUILD_FORTRAN=ON -DHDF5_BUILD_CPP_LIB=ON -S./hdf5 -B./hdf5_build
          cd ./hdf5_build
          make
          make install
          cd ..
          rm -rf ./hdf5 ./hdf5_build
          ldconfig

      - name: Build google_test
        run: |
          git clone -b v1.17.0 --single-branch https://github.com/google/googletest.git
          cmake -S./googletest -B./googletest_build
          cd googletest_build
          make
          make install
          cd ..
          rm -rf googletest

      - name: Add HDF5 to path
        run: echo "/usr/local/HDF_Group/HDF5/1.14.6/bin" >> $GITHUB_PATH

      - name: Build AMReX
        run: |
          git clone -b 25.09 --single-branch https://github.com/AMReX-Codes/amrex.git
          cmake -DCMAKE_INSTALL_PREFIX=/usr/local/amrex/25.09 -S./amrex -B./amrex_build
          cd amrex_build
          make
          make install
          cd ..
          rm -rf amrex amrex_build

      - name: Build TURBO
        run: |
          export CMAKE_PREFIX_PATH=${CMAKE_PREFIX_PATH}:/usr/local/amrex/25.09
          cd ./src/development_tests/amrex/tripolar_grid
          cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -S. -B./build

      - name: Analyze code
        run: |
          cd ./src/development_tests/amrex/tripolar_grid
          run-clang-tidy -p./build \
                         -header-filter="turbo*" \                                    #TODO: determine if needed
                         -exclude-header-filter="/usr/local/.*,/container/.*" \       #TODO: find better way of excluding third party headers
                         -use-color \
                         -extra-arg="-I/container/mpich/4.3.1/include" \              #TODO: find better way of adding mpi include path
                         ./src/*                                                      #TODO: Include all source files and header files, not just .cpp files.

